body{
    font-family: 'Nunito';
    max-width: 400px;
    width: 100%;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    width: 100%;
    float: left;
    padding: 10px 20px;
    background: #fca503;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}
h1{
    width: 100%;
    float: left;
    font-size: 30px;
    font-weight: normal;
    padding: 10px 20px;
    background: #fca503;
    margin-bottom: 10px;
    color: #fff;
}
.video{
    width: 100%;
    float: left;
    position: sticky;
    top: 0;
}
.video video{
    width: 100%;
    float: left;
}
#mario-chat{
    width: 100%;
    margin: 30px auto;
    float: left;
    margin-top: 10px;
    border: 1px solid #fca503;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
    overflow: hidden;
}

#chat-window{
    height: 300px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #fca503;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #fca503;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-top: 1px solid #fca503;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #fca503;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
